a:href {
	color: navy;
	text-decoration: underline;
	}
a:visited {
	color: navy;
	text-decoration: underline;
	}
a:hover {
	color: green;
	text-decoration: none;
	}
a.ex {
	background-image: url(external-link.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-clip: padding-box;
	padding-right: 18px;
	}

body {
	background-color: #1f1137;
	border: 0px;
	height: 100%;
	margin: 0px;
	width: 100%;
	}
iframe {
	border: 0px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
	}
p {
	font-family: Arial;
	font-size: 13pt;
	margin-top: 0px;
	margin-bottom: 5px;
	}

table {
	background: rgba(255,255,255,0.8);
	border: 0px;
	border-collapse: collapse;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	width: 1000px;
	}
table.mainLeft {
	background: none;
	font-family: Arial;
	font-size: 11pt;
	height: auto;
	width: 100%;
	}
td {
	border: 1px solid black;
	height: auto;
	margin: 0px;
	padding: 5px;
	vertical-align: top;
	}
td.mainRight {
	border-bottom: 0px;
	padding: 0px;
	width: auto;
	}
ul {
	font-family: Arial;
	font-size: 13pt;
	list-style-type: disc;
	}

.b {
	font-weight: bold;
	}
.c {
	text-align: center;
	}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footnote {
	font-size: 11pt;
	}
.LL {
	border: none;
	padding: 0px;
	text-align: right;
	width: auto;
	}
.LR {
	border: none;
	padding: 0px;
	width: auto;
	}
.redrum {
	display: inline-block;
	transform: scale(-1, 1);
	}
.sc {
	font-variant: small-caps;
	}
.sm {
	font-size: 11pt;
	}
.st {
	text-decoration: line-through;
	}
.sub {
	font-size: 9pt;
	vertical-align: sub;
	}
.super {
	font-size: 9pt;
	vertical-align: super;
	}
.title {
	color: #1f1137;
	font-size: 20pt;
	padding: 5px;
	text-decoration: underline;
	}
.u {
	text-decoration: underline;
	}
.wrong {
	color: #d30000;
	}

#phot {
	position: fixed;
	left: 100px;
	top: 85px;
	height: 319px;
	width: 424px;
	visibility: hidden;
	z-index: 1;
	}